.main-header
  = link_to root_path do
    .logo
      = image_tag src="/assets/wh_logo.png", size: "210x80"
  .main-bar
    = link_to root_path do
      .header-top
        Top
    = link_to profile_index_path do
      .header-profile
        Profile
    = link_to music_index_path do
      .header-music
        Music
    = link_to info_index_path do
      .header-info
        Info
    = link_to picture_index_path do
      .header-picture
        Picture
    = link_to video_index_path do
      .header-video
        Video
    = link_to new_contact_path do
      .header-contact
        Contact