.wrapper
  .header
    = render '/contents/main-header'
    -# = render '/contents/main-side-bar'
    .main-contents
      .contents-title
        Picture
      .picture
        .picture__contents-akira
          AKIRA
          - @picture_akira.each do |picture|
            .picture__contents-akira-image
              = image_tag "#{@picture_akira_url}", class: "picture__contents-image", width: "200px",height: "250px"
        .picture__contents-sinnosuke
          しんのすけ
          .picture__contents-sinnosuke-image
            -# = image_tag "#{@picture_sin}", class: "picture__contents-image", width: "200px",height: "250px"
        .picture__contents-marcy
          まーしー
          .picture__contents-marcy-image
            -# = image_tag "#{@picture_marcy}", class: "picture__contents-image", width: "200px",height: "250px"
      .picture__contents-live
        Live-photo
        .picture__contents-live-image
= render '/contents/footer'