.wrapper
  .header
    = link_to root_path do
      .logo
        = image_tag src="/assets/wh_logo.png", size: "250x95"
    = render '/contents/main-header'
    = render '/contents/main-side-bar'
    .main-contents
      .contents-title
        Picture
      .picture
        = form_with url: picture_index_path, model: @picture, method: :post, local: true do |f|
          .picture__contents-name
            = f.select :name,[["akira"],["しんのすけ"],["まーしー"],["ライブ"]],class:"contact__input"
          .picture__contents-image
            = f.file_field :image, class:"contact__input", placeholder: "画像*"
          .picture__contents-submit
            = f.submit "送信", class: 'submit-btn'
        -# .picture__show
        -#   = image_tag "#{@picture.image}", class: "image-box", width: "130px",height: "200px"
= render '/contents/footer'