.wrapper
  .header
    = render '/contents/main-header'
    -# = render '/contents/main-side-bar'
    .main-contents
      .contents-title
        Picture
      .picture
        .picture__title
          = @picture.name
          = image_tag "#{@picture_akira_url}", width: "280px", height: "280px"

= render '/contents/footer'