.wrapper
  .header
    = link_to root_path do
      .logo
        = image_tag src="/assets/wh_logo.png", size: "250x95"
    = render '/contents/main-header'
    = render '/contents/main-side-bar'
    .main-contents
      .contents-title
        Music
      .music
        .music__contents
          .music__jacket
            = image_tag src="/assets/sakura_kuroku_kuraku.jpg", size: "250x250"
            %ul.music__title
              サクラxクロクxクラク
              %li.music__date
                Release：2014/04/09
                %li.music__recorded-music
                  Contents
                  %li.music__recorded-music-title
                    1.サクラ×クロク×クラク
                  %li.music__recorded-music-title
                    2.イブの裏切り
                  %li.music__recorded-music-title
                    3.hide to tears in smile forest
                  %li.music__recorded-music-title
                    4.バカシアイ
                  %li.music__recorded-music-title
                    5.トラップ- the spider cobwebs -
                  %li.music__recorded-music-title
                    6.サヨナラ~never see you again~
                  %li.music__recorded-music-title
                    7.LOVE in LOVE
                  %li.music__recorded-music-title
                    8.ARCO∞IRIS
                  %li.music__recorded-music-title
                    9.僕は玩具
                  %li.music__recorded-music-title
                    10.名無しのヒーロー
          .music__jacket-itunes-link
            = link_to src="https://music.apple.com/jp/album/%E3%82%B5%E3%82%AF%E3%83%A9-%E3%82%AF%E3%83%AD%E3%82%AF-%E3%82%AF%E3%83%A9%E3%82%AF/848948892", target: :_blank do
              = image_tag src="/assets/get_it_on_itunens.png", size: "110x40"
        .music__contents
          .music__jacket
            = image_tag src="/assets/arco_iris.jpg", size: "250x250"
            %ul.music__title
              Arco∞Iris
              %li.music__date
                Release：2014/02/12
                %li.music__recorded-music
                  Contents
                  %li.music__recorded-music-title
                    1.Arco∞Iris
                  %li.music__recorded-music-title
                    2.バカシアイ
                  %li.music__recorded-music-title
                    3.サヨナラ~never see you again~
          .music__jacket-itunes-link
            = link_to src="https://music.apple.com/jp/album/arco-iris-single/808149059", target: :_blank do
              = image_tag src="/assets/get_it_on_itunens.png", size: "110x40"
        .music__contents
          .music__jacket
            = image_tag src="/assets/ryunohigewo_ariganerau.jpg", size: "250x250"
            %ul.music__title
              龍の髭を蟻が狙う
              %li.music__date
                Release：2012/08/01
                %li.music__recorded-music
                  Contents
                  %li.music__recorded-music-title
                    1.D.A.R.K
                  %li.music__recorded-music-title
                    2.椿
                  %li.music__recorded-music-title
                    3.CLAP UR HEART
                  %li.music__recorded-music-title
                    4.モノノケNIGTH
                  %li.music__recorded-music-title
                    5.BALLAD
                  %li.music__recorded-music-title
                    6.チェリーレッド
                  %li.music__recorded-music-title
                    7.別れ>永遠
                  %li.music__recorded-music-title
                    8.愛の真実
                  %li.music__recorded-music-title
                    9.妄想夢
                  %li.music__recorded-music-title
                    10.悲恋
                  %li.music__recorded-music-title
                    11.D.I.S.A.C.O.D.E
          .music__jacket-itunes-link
            = link_to src="https://music.apple.com/jp/album/%E9%BE%8D%E3%81%AE%E9%AB%AD%E3%82%92%E8%9F%BB%E3%81%8C%E7%8B%99%E3%81%86/551331179", target: :_blank do
              = image_tag src="/assets/get_it_on_itunens.png", size: "110x40"
        .music__contents
          .music__jacket
            = image_tag src="/assets/kakko_tukezuniha_irarenai.jpg", size: "250x250"
            %ul.music__title
              カッコつけずにはいられない
              %li.music__date
                Release：2011/09/07
                %li.music__recorded-music
                  Contents
                  %li.music__recorded-music-title
                    1.あらら摩訶不思議
                  %li.music__recorded-music-title
                    2.オトナの事情
                  %li.music__recorded-music-title
                    3.青薔薇
                  %li.music__recorded-music-title
                    4.僕×僕~ALGONQUINS~
                  %li.music__recorded-music-title
                    5.愛し方
                  %li.music__recorded-music-title
                    6.自意識過剰乙女物語
          .music__jacket-itunes-link
            = link_to src="https://music.apple.com/jp/album/kakko-tsukezuniha-irarenai-ep/471271727", target: :_blank do
              = image_tag src="/assets/get_it_on_itunens.png", size: "110x40"
        .music__contents
          .music__jacket
            = image_tag src="/assets/akashic_records.jpg", size: "250x250"
            %ul.music__title
              アカシックレコード
              %li.music__date
                Release：2010/08/01
                %li.music__recorded-music
                  Contents
                  %li.music__recorded-music-title
                    1.Both A and B
                  %li.music__recorded-music-title
                    2.Strawberry Champagne
                  %li.music__recorded-music-title
                    3.ひぐらし
                  %li.music__recorded-music-title
                    4.レプリカ
                  %li.music__recorded-music-title
                    5.pail to die
                  %li.music__recorded-music-title
                    6.朱音色
                  %li.music__recorded-music-title
                    7.WKM
                  %li.music__recorded-music-title
                    8.童歌
                  %li.music__recorded-music-title
                    9.紅涙~kourui~
                  %li.music__recorded-music-title
                    10.Dreamer's TV
          .music__jacket-itunes-link
            会場限定
= render '/contents/footer'